body {
	padding-top:50px;
}

.container {
	padding-top:50px;
	padding-bottom:80px;
}

.sidebar-module {
	background-color: #f5f5f5;
	top:0px;
	padding-top:130px; 
	left:0px;
	position:fixed;
	padding-left:40px;
	padding-right:40px;
	height:100%;
}


.sectionor {
	color:#305959;
}

iframe {
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	overflow-y:hidden;
}
